
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 0;
}

/* this isnt working to fit image in sidenav*/
#term-background {
    object-fit: cover;
}

#term-glossary {
    padding-left: 20px;
}

#term-glossary li {
    padding: 20px;
}

#term-glossary li div {
    margin: 10px;
}

#term-glossary li div:first-child {
    font-weight: bold;
    font-size: 20px;
}

canvas {
    width: 100%;
    height: 100%;
}

.canvas-wrapper {
    background-color: #FFFFFF;
    position: relative;
    max-width: 600px;
    margin: 0 auto;

}

#main-row {
    margin-bottom: 0;
}

#main-title {
    margin: 2em;
}

#tweet-bar {
    height: 100vh;
}

#card-space {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

}

#copyright-bar{
    display: flex;
    padding: 0 20px;
    width: 100vw;
    justify-content: space-between;
}

/*---------------------------------------------------*/

/*NOTE: commented out .sidenav-trigger display in LINE 4314 of materialize.css*/