@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

header {
    grid-area: 'header';
}

main {
    margin: 0;
    grid-area: 'main';
}

.hero{
    height: 25vh;
}
.sub-hero{
    height: 10hv;
}

footer {
    grid-area: 'footer';
}

/* this isnt working to fit image in sidenav*/
#term-background {
    object-fit: cover;
}

.sidenav-trigger {
    color: black;
    font-weight: 700;
    display: inline !important;
}
#term-glossary {
    padding-left: 20px;
}

#term-icon {
    font-size: 40px;
    padding: 15px;
}

#term-icon-2 {
    position: relative;
    top: 6px;
    padding: 20px 10px 10px 0px;
    display: inline;
}

#term-glossary li {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#term-glossary li div {
    margin: 10px;
}

#term-glossary li div:first-child {
    font-weight: bold;
    font-size: 20px;
}

#term-glossary li div:nth-child(2) {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
}

#form-wrapper {
    display: flex;
    justify-content: center;
}

#input-wrapper {
    width: fit-content;
    color: white;
}

#autocomplete-input{
    width: 30vw;
    margin-right: 50px;
    color: white;
}

#search-submit-btn {
    display: inline;
    background-color: #D4AF37;
}

#hero {
    background-color: #2b50c8;
}

#main-row {
    margin-bottom: 0;
    display: grid;
}

.tweet-shown {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'tweet card';
}

#main-title {
    margin: 1em;
    margin-bottom: 0.5em;
    color: whitesmoke;
}

#coin-span {
    font-family: 'Croissant One';
}

#based-span {
    font-family: 'Croissant One';
    border-bottom: 6px solid #D4AF37;
}

#tweet-bar {
    min-height: 500px;
    max-height: 100vh;
    min-width: 300px;
    overflow: scroll;
    grid-area: 'tweet';
    background-color: #D4AF37;
}

#tweet-bar::-webkit-scrollbar {
    width: 1em;
}
 
#tweet-bar::-webkit-scrollbar-track {
    
}
 
#tweet-bar::-webkit-scrollbar-thumb {
  background-color: #26aa9d;
  outline: 1px solid #D4AF37;
}

#tweet-bar::-webkit-scrollbar-corner {
    background-color: #D4AF37;
    outline: 1px solid slategrey;
}

.hidden{
    display: none;
}

#card-space {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    grid-area: 'card';
    background-color: #2b50c8;
}


.coin-icon {
    width: 100px;
    height: 100px;

}
.coin-card {
    margin: 20px;
    font-size: 20px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding-bottom: 10px;
}

.canvas-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;

}


#copyright-bar{
    display: flex;
    padding: 0 20px;
    width: 100vw;
    justify-content: space-between;
}


@media screen and (max-width: 700px){

    #main-row {
        display: flex;
        flex-direction: column-reverse;
    }

    #main-title {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #card-space {
        justify-content: center;
    }

    #tweet-bar {
        min-height: 600px;
        max-height: 600px;

        position: sticky;
        bottom: -60vh;
        z-index: 5;
        border-top: 9px solid darkgray;
    }

}

/*---------------------------------------------------*/

/*NOTE: commented out .sidenav-trigger display in LINE 4314 of materialize.css*/